.header-grid {
	display: flex;
	margin: 3% 10% 0% 10%;
	border-bottom: .3vw solid #7d97ad;
	text-align: center;
}

.header-grid .title-col {
	flex: 1;
}

#title {
	color: #2d3c49;
	font-family: 'Rajdhani', sans-serif;
	font-size: 5.2vw;
	float: center;
}

.article-grid {
	display: flex;
	margin: 3% 10% 2% 10%;
}

.article-grid .form-col {
	flex: 1;
	border-radius: .5vw;
    background-color: #f2f2f2;
    padding: 2vw;
    border: .1vw solid #ae9f65;
}

input[type='text'], select {
	width: 100%;
    padding: 1vw 1vw;
    margin: 1vw 0;
    display: inline-block;
    border: .1vw solid #ccc;
    border-radius: .5vw;
    box-sizing: border-box;
    font-size: 2vw;
    font-family: 'Rajdhani', sans-serif; 
}

input[type='number'], select {
	width: 100%;
    padding: 1vw 1vw;
    margin: 1vw 0;
    display: inline-block;
    border: .1vw solid #ccc;
    border-radius: .5vw;
    box-sizing: border-box;
    font-size: 2vw;
    font-family: 'Rajdhani', sans-serif; 
}

input[type='radio'], select {
	margin-top: 1vw;
    font-size: 2vw;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 1vw 1.3vw;
    text-align: center;
    font-size: 1.5vw;
    margin: 1vw 0;
    border: none;
    border-radius: .5vw;
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif;
	font-size: 2vw;
	float: center;
}

input[type='radio'], label{   
	display:inline;
	vertical-align:top;
	font-size: 3.5vw;
	font-family: 'Rajdhani', sans-serif;
}

input[type=submit]:hover {
	background-color: #3f9144;
}

label [type='radio'], label {
	font-size: 3.5vw;
	font-family: 'Rajdhani', sans-serif;
}

.cancel {
    background-color: #fd0002;
    color: white;
    padding: 1vw 1.5vw;
    text-align: center;
    font-size: 1.5vw;
    margin: 1vw 0;
    border: none;
    border-radius: .5vw;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif;
	font-size: 2vw;
	float: center;
}

.cancel:hover {
    background-color: #ab0103;
}

.footer-grid {
	display: flex;
	margin: 0% 10% 0% 10%;
}

.footer-grid .footer-col {
	flex: 1;
}

footer {
	font-size: 2vw;
	font-family: 'Rajdhani', sans-serif;
	text-align: center;
}