<!DOCTYPE html>
<html lang="en">
<head>
</head>
<head>
	<meta charset="UTF-8">
	<title>Lots of Menus</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='restaurantStyle.css') }}">
</head>

<body>
	<header>
		<div class="header-grid">
			<div class="title-col">
				<span id="title">Restaurant List</span>
			</div>
		</div>
	</header>
	
	<main>	
		<article>
			<div class="article-grid">
				<div class="restaurant-col">
					{% for restaurant in restaurants %}
						<div class = "restaurant">
							<p>{{restaurant.name}}
								<br>
								<a href="{{ url_for('editRestaurant', restaurant_id = 
								restaurant.id)}}" class="edit">Edit </a>
								&nbsp;
								<a href="{{ url_for('deleteRestaurant', restaurant_id = 
								restaurant.id)}}" class = "delete"> Delete</a>
								<div class="menu">
									<a href="{{ url_for('showMenu', restaurant_id = 
									restaurant.id)}}" class = "menuButton">Show Restaurant's Menu</a>
								</div>
							</p>
						</div>
						<br>
					{% endfor %}
				</div>
			</div>
		</article>
		
		<section class="section-grid">
			<div class="section-col">
				<p>
					<a href = "{{url_for('newRestaurant')}}" class="newRestaurant"> Create New Restaurant</a>
				</p>
			</div>
		</section>
	</main>
	<footer>
		<div class="footer-grid">
			<div class="footer-col">
				<small>Fernando Gonzalez </small>
				<small>| Email:
					<a href="mailto:fgonz009@ucr.edu">fgonz009@ucr.edu</a>
				</small>
			</div>
		</div>
	</footer>
</body>
</html>

